<html>
 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" type="image/png" href="images/icon.png"/>

	<title>Get data from an api with Angular</title>
	<!--Bootstrap Files-->
	<link rel = "stylesheet" type = "text/css" href="bootstrap/css/bootstrap.min.css">   
	<!-- CSS File -->
	<link rel = "stylesheet" type = "text/css" href="css/styles.css">
	<!--Jquery-->
	<script src="js/jquery.js"></script>
	
 </head>
 <body>
	
	<nav class="navbar navbar-default navbar-static-top">
	 <div class="container">
	  <div class="row">
	   <div class="col-md-6 col-xs-6">
	    <p class="navbar-text navbar-left"><a href="#" class="navbar-link">Sergio Merida Tabarini</a> - Front-end padawan</p>
	   </div><!--Close of first col-->
	   <div class="col-md-6 col-xs-6">
	    <img src="images/cognits-logo.png" class="navbar-brand pull-right" width="150px">
	   </div><!--Close of second col-->
	  </div><!--Close of row-->
	 </div><!--Close of container-->
	</nav><!--Close of navbar-->

	<div class="container" ng-app="lastFm">
	 <div data-ng-controller="getData">
	 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Click if you want to search!
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	       <div class="form-group col-xs-3">
		    Global search:<input class="form-control" placeholder="Search" ng-model="search.$">
		   </div>
		   <div class="form-group col-xs-3">
		    Search by name:<input class="form-control" placeholder="Search" ng-model="search.name">
		   </div>
		   <div class="form-group col-xs-3">
		    Search by artist:<input class="form-control" placeholder="Search" ng-model="search.artist.name">
		   </div>
		   <div class="form-group col-xs-3">
		    Search by playcount:<input class="form-control" placeholder="Search" ng-model="search.playcount">
		   </div>   
	      </div>
	    </div>
	  </div>
	</div>
	 <div class="jumbotron">
	  <div class="panel panel-default table-responsive">
	  <table class="table table-hover">
	   <thead>
	   	<tr>
	   	 <th ng-click="reverse=!reverse;order('name', reverse)">Name</a></th>
		 <th ng-click="reverse=!reverse;order('artist.name', reverse)">Artist</th>
	   	 <th ng-click="reverse=!reverse;order('duration', reverse)">Duration</a></th>
	   	 <th ng-click="reverse=!reverse;order('playcount', reverse)">Playcounts</a></th>
	   	 <th ng-click="reverse=!reverse;order('listeners', reverse)">Number of listeners</a></th>
	   	 <th>Image</th>
	   	</tr><!--Close of tr of thead-->
	   </thead><!--Close of thead-->
	   <tbody>
	    <tr ng-repeat="playlist in playlists | filter:search:strict">
	     <td>{{playlist.name}}</td>
	     <td>{{playlist.artist.name}}</td>
	     <td>{{playlist.duration *1000| date: "mm:ss"}}</td>
	     <td>{{playlist.playcount}}</td>
	     <td>{{playlist.listeners}}</td>
	     <td ng-show="{{playlist.image[1]}}"><img ng-src="{{playlist.image[1] | soloUrl}}"></td>
	     <td ng-show="!{{playlist.image[1]}}"><img src="images/índice.png" width="65px"></td>
	    </tr>
	  </tbody><!--Close of tbody-->
	  </table><!--Close of table-->
	  </div>
 	 </div><!--Controller-->
 	 </div><!--Close of jumbotron-->
	</div><!--Container-->
	
	<!--Bootstrap-->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<!--Angular-->
	<script src="angular/angular.min.js"></script>
	<!--Javascript File-->
	<script src="js/script.js"></script>
 </body>
</html>