<html>
 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" type="image/png" href="images/icon.png"/>

	<title>Get data from an api with Angular</title>
	<!--Bootstrap Files-->
	<link rel = "stylesheet" type = "text/css" href="bootstrap/css/bootstrap.min.css">   
	<!-- CSS File -->
	<link rel = "stylesheet" type = "text/css" href="css/styles.css">
	<!--Jquery-->
	<script src="js/jquery.js"></script>
	
 </head>
 <body>
	
	<div class="container" ng-app="App">
	 <div class="jumbotron">
	 <div data-ng-controller="Controller">
	  <input ng-model="search.$">
	  <table class="table table-hover">
	   <thead>
	   	<tr>
	   	 <th>
	   	  <a href="" ng-click="reverse=false;order('name', false)">Name</a>
		  <span class="caret" style="cursor: pointer" ng-click="order('-name',false)"></span>
		 </th>
	   	 <th><a href="" >Duration</a></th>
	   	 <th ng-click="reverse=!reverse;order('playcount', reverse)">Playcounts</th>
	   	 <th>Number of listeners</th>
	   	 <th>Image</th>
	   	</tr>
	   </thead>
	   <tbody>
	    <tr ng-repeat="playlist in playlists | filter:search:strict">
	     <td>{{playlist.name}}</td>
	     <td>{{playlist.duration *1000| date: "mm:ss"}}</td>
	     <td>{{playlist.playcount}}</td>
	     <td>{{playlist.listeners}}</td>
	     <td><!--<img ng-src="{{playlist.image[0].#text}}"/>--></td>
	    </tr>
	  <tbody>
	  </table>
 	 </div><!--Controller-->
 	 </div>
	</div><!--Container-->
	
	<!--Bootstrap-->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<!--Angular-->
	<script src="angular/angular.min.js"></script>
	<!--Javascript File-->
	<script src="js/script.js"></script>
 </body>
</html>